.nav-inside {
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
}


.navbar{
    margin-bottom: 300px;
}


.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.hero img.show {
    margin-top: -165px;
    width: 20%;
    display: none;
}


.navbar-expand-lg .navbar-nav>li {
    padding: 8px 0;
}

.footer-links.show-finally{
    display: none;
}

.footer-links{
    margin: auto 0;
    text-align: center;
}

.footer-links a{
    color: #fff;
    padding: 0 8px;
}

.footer-links p{
    margin-bottom: 8px;
    font-size: 12px;
    color: #fff;
}

.text-accent{
    color: #8747ff !important;
}

/* 
    *
    * Responsize some codes here 
    *
*/
@media(min-width: 1024px) {
    .hero h1 {
        font-size: 3em;
    }

    .hero p {
        width: 90%;
        font-size: 18px;
        text-align: justify;
    }

    .hero img {
        margin-top: 50px;
    }
}

@media(max-width: 988px) {
    .hero img.hidden {
        display: none;
    }
}

@media(max-width: 768px) {
    .sidebar {
        grid-area: sidebar;
        background: linear-gradient(to right,
            rgba(249, 107, 142, 1),
            rgba(218, 103, 230, 1),
            rgba(130, 125, 253, 1));
        justify-content: center;
        height: auto;
        padding: 0;
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-nav .nav-item {
        margin: 0 16px;
    }

    .hero img.show {
        margin-top: -140px;
        width: 20%;
        display: block;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        width: 100%;
        font-size: 16px;
        text-align: justify;
    }

    .footer-links.show-initially{
        display: none
    }

    .footer-links.show-finally{
        display: block
    }
    .navbar{
        margin-bottom: 0;
    }

}

@media(max-width: 414px) {
    .hero h1 {
        font-size: 1.5em;
    }

    .hero p {
        width: 100%;
        font-size: 16px;
        text-align: justify;
    }

    .hero img.show {
        margin-top: -90px;
        width: 25%;
        display: block;
    }

    .navbar-nav .nav-item {
        margin: 0 6px;
    }

    .navbar-expand-lg .navbar-nav>li {
        padding: 0;
    }
}
